<html>
  <head></head>
  <body>
    <h1>Delete Book</h1>
    <p>Are you sure you want to delete {{book.title}}?</p>
    <form action="{{ url_for('deleteBook', book_id=book.id) }}" method="POST">
      <input type='submit' value='Delete'>
      <a href="{{ url_for('showBooks') }}">Cancel</a>
    </form>
  </body>
</html>
