<html>
  <head></head>
  <body>
    <h1>{{book.title}}</h1>
    <form action="{{ url_for('editBook', book_id=book.id) }}" method="POST">
      <label for="title">New title</label>
      <input type='text' size='30' name='title'>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
