<html>
  <head></head>
  <body>
    <h1>New Book</h1>
    <form action="{{ url_for('newBook') }}" method="POST">
      <label for="title">Title:</label>
      <input type='text' size='30' name='title'>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
