<html>
  <head></head>
  <body>
    <h1>Books</h1>
    {% for book in books %}
    <p>{{book.title}}</p>
    <a href="{{ url_for('editBook', book_id=book.id) }}">Edit book</a>
    </br>
    <a href="{{ url_for('deleteBook', book_id=book.id) }}">Delete book</a>
    {% endfor %}
  </body>
</html>
